<settings>
  <proxies/>
  <mirrors/>

  <profiles>
    <profile>
      <id>@CI.CODEBETTER</id>

      <properties>
        <mirrorUrl>http://repo1.maven.org/maven2/</mirrorUrl>
      </properties>

      <repositories>
        <repository>
          <id>de.lightful-releases</id>
          <name>de.lightful Releases</name>
          <url>http://lightful.de/mvnrepo/public/releases/</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>daily</updatePolicy>
            <checksumPolicy>warn</checksumPolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
            <updatePolicy>never</updatePolicy>
            <checksumPolicy>warn</checksumPolicy>
          </snapshots>
        </repository>

        <repository>
          <id>jboss-releases</id>
          <name>JBoss Releases</name>
          <url>https://repository.jboss.org/nexus/content/repositories/releases/</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>daily</updatePolicy>
            <checksumPolicy>warn</checksumPolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
            <updatePolicy>never</updatePolicy>
            <checksumPolicy>warn</checksumPolicy>
          </snapshots>
        </repository>
      </repositories>

      <pluginRepositories>
        <pluginRepository>
          <id>de.lightful-releases</id>
          <name>de.lightful Releases</name>
          <url>http://lightful.de/mvnrepo/public/releases/</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
            <checksumPolicy>warn</checksumPolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
            <updatePolicy>never</updatePolicy>
            <checksumPolicy>warn</checksumPolicy>
          </snapshots>
        </pluginRepository>
        <pluginRepository>
          <id>jboss-releases</id>
          <name>JBoss Releases</name>
          <url>https://repository.jboss.org/nexus/content/repositories/releases/</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>daily</updatePolicy>
            <checksumPolicy>warn</checksumPolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
            <updatePolicy>never</updatePolicy>
            <checksumPolicy>warn</checksumPolicy>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>@CI.CODEBETTER</activeProfile>
  </activeProfiles>

  <pluginGroups>
    <pluginGroup>com.googlecode.maven-overview-plugin</pluginGroup>
  </pluginGroups>

</settings>
